.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);

  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

/* ------header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu-list,
.header-contacts {
  display: none;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  padding: 16px 0;
}
.header-logo-studio {
  color: #2e2f42;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
    color: #404bbf;
  }

  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .header-contacts {
    font-style: normal;
    display: block;
  }
  .header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .header-contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .header-contacts-link:hover,
  .header-contacts-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .header-contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* hero */
.hero {
  background-image: linear-gradient(
      0deg,
      rgba(46, 47, 66, 0.6),
      rgba(46, 47, 66, 0.6)
    ),
    url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
  margin: 0 auto;
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto 72px;
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  /* width: 169px;
  height: 56px; */
  padding: 16px 32px;
  margin: 0 auto;
  text-align: center;
  display: block;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-bg2.jpg");
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
  .hero-button {
    min-width: 169px;
    height: 56px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero.jpg");
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }
  .hero-title {
    margin-bottom: 48px;
  }
}

/* Mobile menu  */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 100%;

  border: 1px solid #e7e9fc;
}
.mobile-menu-navigation {
  margin-bottom: auto;
}
.mobile-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-link.active {
  color: #404bbf;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
}
.mobile-link {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
}
.mobile-menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 168px;
}
.menu-phone {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}
.menu-email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-menu-socials-list {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
}
.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* features */
.features {
  padding: 96px 96px;
}
.features-container {
  width: 288px;
  padding: 0 16px;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px; /* відстань між картками */
  list-style: none;
  margin: 0;
  padding: 0;
}
.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  justify-content: center;
  text-align: center;
  color: #2e2f42;
}
.features-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.features-icon {
  display: none;
}
.features-container {
  padding-left: 16px; /* бокові відступи */
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .features-container {
    width: 736px; /* ширина контенту */
    padding: 0 16px; /* бокові відступи */
    max-width: 100%; /* щоб не виходило за межі екрану */
  }
  .features-item {
    flex: 1 1 calc((100% - 72px) / 2);
    gap: 24px; /* відстань між картками */
  }
  /* два елементи в ряд */
  .features-subtitle {
    text-align: left;
  }
  .features-list {
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .features-item {
    flex: 0 0 calc((100% - 3 * 24px) / 4);
  }
  .features-container {
    min-width: 1128px;

    padding-left: 15px;
    padding-right: 15px;
  }
  .features-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-description {
    font-weight: 400;
  }
  .features-list {
    gap: 24px; /* відстань між картками */
  }
}

/* ------team */
.team {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0 auto;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
.team-item {
  background-color: #fff;
  /* padding: 0px 0px 32px; */
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-item:hover,
.team-item:focus {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}
.team-card-content {
  padding: 32px 0;
}
.team-image {
  display: block;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.team-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.team-socials-item {
  width: 40px;
  height: 40px;
}
.team-socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #404bbf;
}
.team-socials-icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .team-list {
    gap: 64px 24px; /* відстань між рядами */
  }
}
@media screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}
/* .team-item {
  flex: 1 1 calc((100% - 24px) / 2);
  max-width: calc((100% - 24px) / 2);
} */

/* ------portfolio */
.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}
.porfolio-container {
  width: 288px; /* ширина контенту */
  padding: 0 16px; /* бокові відступи */
  max-width: 100%; /* щоб не виходило за межі екрану */
  margin: 0 auto; /* центр контейнера */
  box-sizing: border-box; /* щоб padding не додавався зверху до ширини */
}
.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
}
.portfolio-item {
  overflow: hidden;
  background-color: #ffffff;
  /* width: calc((100% - 2 * 24px) / 3); */
  border-bottom: 1px solid #e7e9fc;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay-text {
  position: absolute; /* Додано */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;

  transform: translateY(100%); /* Ховаємо під низ */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-overlay-text {
  display: block;
}
.portfolio-image {
  display: block;
}
.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 0;
}
@media screen and (min-width: 769px) {
  .porfolio-container {
    width: 736px; /* ширина контенту */
    padding: 0 16px; /* бокові відступи */
    max-width: 100%; /* щоб не виходило за межі екрану */
  }
  .portfolio-list {
    gap: 72px 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2); /* 2 картки в рядку */
  }
}
@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .porfolio-container {
    width: 1128px; /* ширина контенту */
    padding: 0 156px; /* бокові відступи */
    max-width: 100%; /* щоб не виходило за межі екрану */
  }
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3); /* 3 картки в рядку */
  }
  .portfolio-item:hover .portfolio-overlay-text,
  .portfolio-item:focus .portfolio-overlay-text {
    transform: translateY(0%);
  }
}

/* ------footer */
.footer {
  background: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
  color: #f4f4fd;
}

.footer .container {
  display: flex;
  flex-wrap: wrap; /* блоки будуть переноситися */
  justify-content: center;
  /* align-items: baseline; */
}

.footer-logo-wrapper {
  /* width: 288px; */
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;

  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-studio {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
}
.footer-social-wrapper {
  display: flex;
  margin-top: 72px;
  flex-direction: column; /* вертикальне розташування */
  align-items: center; /* по центру по горизонталі */
}
.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-socials {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.social-item {
  width: 40px;
  height: 40px;
}
.footer-subscribe-wrapper {
  margin-top: 72px;
  text-align: center;
}
.footer-form {
  display: flex;
  flex-direction: column; /* поле і кнопка один під одним */
  gap: 16px;
  align-items: center;
}
.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  /* width: 288px; */
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  padding: 0 16px;
  background-color: transparent;
}
.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  font-size: 400;
}
.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;

  width: 165px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
  background-color: #404bbf;
}

.footer-button-icon {
  fill: #fff;
  margin-left: 16px;
}
.footer-button svg {
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer-logo-wrapper {
    margin-top: 0;
    margin-right: 120px;
    margin-bottom: 72px;
  }
  .footer-social-wrapper {
    margin-top: 0;

    flex-direction: column; /* горизонтальне розташування */
  }
  .footer-subscribe-wrapper {
    margin-top: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
    /* justify-content: flex-start; */
    flex-wrap: nowrap;
  }
  .footer-title {
    text-align: left;
  }

  .footer-logo-wrapper {
    margin-right: 120px;
    margin-top: 0;
    /* width: auto; */
    margin-left: 156px;
    text-align: left;
    /* flex: 0 0 264px; */
  }
  .footer-social-wrapper {
    margin-right: 80px;
    flex-direction: column;
    margin-top: 0;
    /* flex: 0 0 208px; */
  }
  .footer-subscribe-wrapper {
    margin-top: 0;
  }
  .footer-form {
    flex-direction: row; /* поле і кнопка в ряд */
  }
  .footer-input {
    width: auto;
  }
  .footer-title {
    text-align: left;
  }
}
